body {
  font-size: 30px;
  width: 1366px;
  background: #FFFFFF;
  margin: 0 auto;
}

p {
  margin: 0;
}

header {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding: 30px;
  letter-spacing: 0.14em;
  background: #FDFDFB;
  color: #555248;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 100px;

  svg {
    height: 16px;
    width: auto;
  }
}

.header_logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 65px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #555248;
  letter-spacing: 0em;
}

.header_icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 23px;
}

.header_like {
  position: relative;
  display: flex;
}

.header_like-circle {
  position: absolute;
  top: -5px;
  left: 60%;
}

.header_like-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13px;
  height: 13px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  background: #E6C8B4;
  border-radius: 50%;
  color: #1B1A17;
  font-size: 8px;
}


.main {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  background: #FDFDFB;
  height: 768px;
  position: relative;
}


.main_back {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 470px;
  background-image: url(../../img/background-ellipse.png);
  background-repeat: no-repeat;
  z-index: 0;
}

.main_description {
  display: flex;
  width: 45%;
  justify-content: center;
  align-items: center;

  p {
    position: relative;
    z-index: 1;
  }
}

.description_block {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-left: 30px;
}

.main_watch {
  width: 55%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.watch_back {
  box-sizing: border-box;
  background-image: url(../../img/watch_main.png);
  width: 100%;
  height: 804px;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(-0.18deg);
  position: absolute;
  left: -50px;
  top: -10px;
}

.main_line {
  width: 50px;
  height: 0px;
  margin-top: 30px;
  border-top: 2px solid #8B8371;
}

.main_header {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  color: #1B1A17;
  margin-bottom: 16px;
}

.main_subheader {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #1B1A17;
  margin-bottom: 40px;
}

.description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: rgba(27, 26, 23, 0.82);
}

.description_btn {
  font-family: 'Roboto';
  padding: 25px 40px;
  color: #FFFFFF;
  background: #444240;
  margin-top: 65px;
  border: none;
}

.watch_price {
  font-family: 'Prata', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1B1A17;
  margin-top: 20px;
}

.watch_block {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.price {
  margin-top: 138px;
  align-items: flex-start;
}

.info {
  display: flex;
  justify-content: flex-end;
  margin-top: 636px;
  margin-right: 114px;
}

.popular_block {
  display: flex;
  flex-direction: column;
}

.popular {
  display: flex;
  flex-direction: row;
  gap: 34px;
  margin-top: 25px;
  justify-content: space-around;
}

.popular_header {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  color: #1B1A17;
  margin-top: 79px;
  text-align: center;
}

.block_more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 35px;
}

.header_more {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #444240;
  margin-bottom: 11px;
}

.more_line {
  display: flex;
  width: 101px;
  height: 1px;
  background: #C4C0B6;
}

.popular_models {
  width: 370px;
  height: 467px;
  background: #FDFDFB;

}

.popular_back {
  background-image: url(/img/watch_back_1.png);
  background-repeat: no-repeat;
  background-position: center;
}

.popular_name {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(27, 26, 23, 0.82);
  margin: 40px 0px 0px 40px;
}

.popular_price {
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(27, 26, 23, 0.82);
  margin: 10px 0px 0px 40px;
}

.watch {
  filter: drop-shadow(2px 2px 10px rgba(85, 82, 72, 0.23));
  width: 313px;
  height: 313px;
  margin: 0px 25px;
}

.popular_more {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  margin: 19px 40px;
}

.popular_line {

  width: 30px;
  height: 0px;
  margin-top: 0px;
  border-top: 2px solid #8B8371;
}

.popular_text {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #1B1A17;
}

.contacts,
.gallery {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 519px;
  margin-top: 86px;
  align-items: center;
  gap: 70px;
  justify-content: center;

}

.back {
  background-image: url(../../img/lines_banner.png);
  background-repeat: no-repeat;
  background-position: right;
}

.gallery_back {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #F7F5EF 35%, #FDFDFB 35%, #FDFDFB 65%);

}

.gallery_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.img_number {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(27, 26, 23, 0.82);

}

.gallery_description {
  button {
    background-color: #D4B098;
    margin-top: 45px;
  }
}

.description_header {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  color: #1B1A17;
}

.description_text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-top: 38px;
  color: #444240;
}

.contacts_img {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.imgs_block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social_icons {
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: center;
  margin-top: 120px;
}


footer {
  display: flex;
  flex-direction: row;
  height: 275px;
  background: #444240;
  margin-top: 90px;
  justify-content: center;
  vertical-align: top;
  gap: 150px;
  p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.75);
    gap: 15px;
    padding: 0px 0px 15px 0px;
  }
}

.footer_header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 32px;
}

.footer_block {
  text-align: left;
  margin-top: 80px;
}

.footer {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.14em;
  color: #FFFFFF;
  align-items: self-end;
  margin-bottom: 32px;
  justify-content: left;
  margin-top: -10px;
}